@font-face {
    font-family: RubikMonoOne;
    src: url("./Fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf") format("truetype");
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5e6;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "RubikMonoOne", monospace;
}

button {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    text-decoration: none;
    border: none;
    background: none;
}

button:hover {
    color: white;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: black;
}

.index_link {
    font-size: 25px;
    font-family: monospace;
    color:#a84646;
}

.top {
    background-color: #fae5ca;
    font-family: "RubikMonoOne";
    word-break: break-all;
}

.big_header {
    padding: 20px;
    font-size: 50px;
    padding-left: 10%;
}

.back {
    margin-left: 10%;
    font-size: 32px;
}

.index_main {
    display: block;
    width: 100%;
}

#index_list {
    /* padding-left: 12%; */
    display: inline-block;
    width: calc(30% - 40px - 10%);  /*лист 40 пикселей ест*/
    padding-left: 40px;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 10%;
}

#index_pdf {
    display: inline-block;
    width: 60%;
    background-color: #acacac;
    height: 100vh;
    border: 5px solid #a84646;
    /* border-radius: 15px; */
    /* padding: 5px; */
    margin-bottom: 32px;
    margin-top: 25px;
}

.index_button {
    font-size: 25px;
    font-family: monospace;
    color:#a84646;
    background-color: #fae5ca;
    border: 2px dashed black;
    margin-top: 5px;
    margin-bottom: 5px;
    word-break: break-all;
}

.index_button:hover {
    color: black;
    text-decoration: underline;
}